<body>
    <header class="top-bar">
        <span class="title">Pokemon Gacha Life</span>
        <span><a href="/home">Return to Homepage</a></span>
    </header>
    <p>Your Poke: {{ poke }}</p>
    <p class="roll">Instructions: Roll die to get a random pokemon.</p>
    <button (click)="roll()" class="roll-btn">Roll Here!</button>
    <div class="results" *ngFor="let pokemon of rolledPokemon; trackBy: trackItem;">
        <!-- QUESTION: does gacha service retrieve the front-default sprite of rolledPokemon?
        If so, is it on frontend or backend?
        Azhya K. -->
        <img id="result-img" src="{{ sprite }}"alt="pokemon-front-sprite">
        <h3>Congratulations! You got <span id="result-name">{{pokemon.species | titlecase }}</span>.</h3>
    </div>
</body>