<div class="container-lg">
  <div class="register-form">
    <div class="mb-3">
      <label for="email">Email address</label>
      <input type="email" class="form-control" id="email" name="email" aria-describedby="emailHelp" (input) = "trainer.email"  required>
      <small id="emailHelp" class="form-text " style="color: rgba(255, 255, 255, 0.418);">We'll never share your email with anyone else.</small>
    </div>
    <div class="form-group">
        <label for="username">Username</label>
        <input type="text" class="form-control" id="username" name="username" (input) = "trainer.username" required >
      </div>
    <div class="form-group">
      <label for="password">Password</label>
      <input type="password" class="form-control" id="password" name="password" (input)="trainer.password" required>
    </div>
    
    <button type="submit" class="btn btn-primary" (click)="registerUser()">Register</button>
  </div>
  </div>