<body>
  <div class="container">
    <div class="row">
      <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
        <div class="card card-signin my-5">
          <div class="card-body">
            <h5 class="main-title form-title card-title text-center">Register Now</h5>
            <form class="register-form" [formGroup]="registerForm" (ngSubmit)="registerUser()">
              <div class="form-label-group">
                <input type="email" id="inputEmail" class="form-control" placeholder="Email Address" formControlName="email" required autofocus>
                <label for="inputEmail">Email address</label>
              </div>
              <div class="form-label-group">
                <input type="email" id="inputUsername" class="form-control" placeholder="Username" formControlName="username" required autofocus>
                <label for="inputEmail">Username</label>
              </div>
              <div class="form-label-group">
                <input type="password" id="inputPassword" class="form-control" formControlName="Password" placeholder="Password" required>
                <label for="inputPassword">Password</label>
              </div>
              <hr class="my-4">
              <button class="btn btn-lg btn-primary btn-block text-uppercase my-btn" type="submit">Register</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>