<body>
  <nav class="nav flex-column">
    <a class="nav-item nav-link home-link" href="/home"><img
        src="https://i.imgur.com/0DtwRiT.png"
        alt="pokeball" width="50" height="50">
      <span class="home-btn">Pokemon Microservices | Home Menu</span>
    </a>
    <a class="nav-item nav-link" href="#">Battle Sim Service</a>
    <a class="nav-item nav-link" href="/gacha">Gacha Service</a>
    <a class="nav-item nav-link" href="#">PC Box Service</a>
    <a class="nav-item nav-link" href="#">PokeCenter Service</a>
    <a class="nav-item nav-link" href="#">Pokemart Service</a>
    <a class="nav-item nav-link" href="/news">PokeNews Service</a>
    <a class="nav-item nav-link" (click)="returnHome()">Log Out</a>
  </nav>
  <div class="copyright">
    <span>&copy;Copyright 2021 JavaMasters</span>
  </div>
</body>
