<h1>Welcome to Pokemon Microservices</h1>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">Menu</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-item nav-link" href="#">Battle Sim Service</a>
        <a class="nav-item nav-link" href="/gacha">Gacha Service</a>
        <a class="nav-item nav-link" href="#">PC Box Service</a>
        <a class="nav-item nav-link" href="#">PokeCenter Service</a>
        <a class="nav-item nav-link" href="#">Pokemart Service</a>
        <a class="nav-item nav-link" href="/news">PokeNews Service</a>
      </div>
    </div>
  </nav>
  <div class="copyright">
      <span>&copy;Copyright 2021 JavaMasters</span>
  </div>
