body {
  background: #f8d32f;
  color: black;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  text-align: center;
}

.nav {
  margin: 20px auto;
  font-size: 1.5rem;
  width: 50%;
}

.home-link {
  font-family: 'Pokemon Solid', sans-serif;
  -webkit-text-stroke: 1px #000000;
  margin-bottom: 20px;
  letter-spacing: 2px;
  font-size: 1.8rem;
  width: 100%;
}

.copyright {
  font-size: 0.8rem;
  position: fixed;
  bottom: 0;
  left: 50%;
  letter-spacing: 2px;
  transform: translateX(-50%);
}
