 <div class="container">
     <div id="header">
        Header / navigation goes here
     </div>
     <div id="nav">
        <table class="table">
            <thead>
                <tr>
                    <th>PC Boxes</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let box of boxes" (click)=selectBox(box)>
                    <td>{{box.name}}</td>
                </tr>
            </tbody>
        </table>
     </div>
     <div id="main">
        <div *ngIf="selectedBox; else directionBlock">
            <div class="centered">
                <h3>Pokemon in {{selectedBox.name}}</h3>
            </div>
            <a class="col-1-4" *ngFor = "let poke of selectedBox.pokemon" (click)="selectPokemon(poke); selectFromBox()">
                <div class="module">
                    <h4>
                        {{poke.pokemonId}}
                    </h4>
                </div>
            </a>
        </div>

        <ng-template #directionBlock>
            <h4 class="centered">Please select a box</h4>
        </ng-template>

     </div >
     <div id="aside">
        Selected Pokemon
        <div *ngIf="selectedPokemon">

            <!-- Placeholder stats, to be modified later-->
            <div>
                ID : {{selectedPokemon.pokemonId}}
            </div>
            <div>
                Nickname : {{selectedPokemon.nickname}}
            </div>
            <div>
                Status : {{selectedPokemon.status}}
            </div>
            <div>
                Current HP : {{selectedPokemon.currentHp}}
            </div>
            <div *ngIf="pokeFromBox; else otherButton">
                <button type="button" (click)="transferToTeam(team.teamId, selectedPokemon.pokemonId)">Transfer to Team</button>
            </div>
            <ng-template #otherButton>
                <button type="button" (click)="transferToBox(selectedBox.boxId, selectedPokemon.pokemonId)">Transfer to Box</button>
            </ng-template>

        </div>
        
     </div>
     <div id="footer" *ngIf="team">
         <div class="module col-1-4">
             Trainer: {{team.trainer.name}}
             Poke: {{team.trainer.poke}}
         </div>
        <!-- Your team -->

        <a class="col-1-4" *ngFor = "let poke of team.pokemon" (click)="selectPokemon(poke); selectOutsideBox()">
            <div class="module">
                <h4>
                    {{poke.pokemonId}}
                </h4>
            </div>
        </a>
        
     </div>
 </div>