<!-- <p>Nav bar up here</p> -->

<!-- <mat-grid-list cols = "4" rowHeight = "150px">
    <mat-grid-tile [colspan] = "1" [rowspan] = "4">
        <div class="container">
            <table class="table">
                <thead>
                    <tr>
                        <th>Choose Box</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let box of boxes">
                        <td>{{box.name}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </mat-grid-tile>
    <mat-grid-tile [colspan] = "2" [rowspan] = "3">
        See pokemon in box
        <div *ngFor = "let poke of boxes[0].pokemon">
            {{poke.pokemonId}}
        </div>
    </mat-grid-tile>
    <mat-grid-tile [colspan] = "1" [rowspan] = "4">
        See selected pokemon with operation buttons below
    </mat-grid-tile>
    <mat-grid-tile [colspan] = "2" [rowspan] = "1">
        See your team
    </mat-grid-tile>
 </mat-grid-list> -->

 <div class="container">
     <div id="header">
        Header / navigation goes here
     </div>
     <div id="nav">
        <table class="table">
            <thead>
                <tr>
                    <th>Choose Box</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let box of boxes">
                    <td>{{box.name}}</td>
                </tr>
            </tbody>
        </table>
     </div>
     <div id="main">
        <div class="centered">
            <h3>Pokemon in box</h3>
        </div>
        <!-- Add box name, add select box functionality in sidebar to update display -->
        <a class="col-1-4" *ngFor = "let poke of boxes[0].pokemon">
            <div class="module">
                <h4>
                    {{poke.pokemonId}}
                </h4>
            </div>
        </a>
     </div >
     <div id="aside">
        Selected Pokemon
     </div>
     <div id="footer">
        Your team
     </div>
 </div>