<section id="start-section">
    <div class="left">
        <h1>Welcome to the PokeNews Hub!</h1>
        <p class="info">Get started by checking out any of our news articles listed here!</p>
    </div>
    <div class="right">
        <p class="username">Hello, User!</p>
        <img class="bell" src="./../../../assets/images/bell.png" alt="bell-icon" width="25" height="25">
        <span class="red-dot off"></span>
    </div>
</section>

<section id="main-section">
    <button id="home-btn">Get Latest News!</button>
    <button id="home-btn" (click)="returnHome()">Return to Homepage</button>
    <div class="news-container">
        <div class="news-item" *ngFor="let newsfeed of newsFeeds; trackBy: trackItem;">
            <div class="news-item-left">
                <span class="date-block">{{newsfeed.dateWritten}}</span>
            </div>
            <div class="news-item-right">
                <h3>{{newsfeed.title}}</h3>
                <br>
                <span>{{newsfeed.author}}</span><br>
                <a class="read-link" href="{{newsfeed.link}}">Read More...</a>
            </div>
        </div>
    </div>
</section>
