<section id="start-section">
    <div class="left">
        <h1>Welcome to the PokeNews Hub!</h1>
        <p>Click the button to get started!</p>
    </div>
    <div class="right">
        <p class="username">Hello, User</p>
        <img class="bell" src="./../../../assets/images/bell.png" alt="bell-icon" width="25" height="25">
        <span class="red-dot off"></span>
    </div>
</section>

<section id="main-section">
    <button>Get PokeNews Hub RSS Data</button>
    <div class="news-container">
        <div class="news-item">
            <div class="news-item-left">
                <span class="date-block">Date Written</span>
            </div>
            <div class="news-item-right">
                <h3>News Title</h3>
                <br>
                <span>Author</span><br>
                <a href="http://google.com">Read More...</a>
                <p>Keywords</p>
            </div>
        </div>

        <div class="news-item">
            <div class="news-item-left">
                <span class="date-block">Date Written</span>
            </div>
            <div class="news-item-right">
                <h3>News Title</h3>
                <br>
                <span>Author</span><br>
                <a href="http://google.com">Read More...</a>
                <p>Keywords</p>
            </div>
        </div>

        <div class="news-item">
            <div class="news-item-left">
                <span class="date-block">Date Written</span>
            </div>
            <div class="news-item-right">
                <h3>News Title</h3>
                <br>
                <span>Author</span><br>
                <a href="http://google.com">Read More...</a>
                <p>Keywords</p>
            </div>
        </div>
        
    </div>
</section>
