<section id="start-section">
    <div class="left">
        <h1>Welcome to the PokeNews Hub!</h1>
        <p class="info">Please check out any of our news articles listed here, or click the button to get the lastest news NOW!</p>
    </div>
    <div class="right">
        <p class="username">Hello, User</p>
        <img class="bell" src="./../../../assets/images/bell.png" alt="bell-icon" width="25" height="25">
        <span class="red-dot off"></span>
    </div>
</section>

<section id="main-section">
    <button id="rss-btn">Get Latest PokeNews Data</button>
    <div class="news-container">
        <div class="news-item" *ngFor="let newsfeed of newsFeeds; trackBy: trackItem;">
            <div class="news-item-left">
                <span class="date-block">{{newsfeed.dateWritten}}</span>
            </div>
            <div class="news-item-right">
                <h3>{{newsfeed.title}}</h3>
                <br>
                <span>{{newsfeed.author}}</span><br>
                <a href="{{newsfeed.link}}">Read More...</a>
            </div>
        </div>
    </div>
</section>
